<p>
  <b>Map:</b>
  <%= map_id %>
</p>

<p>
  <b>Type:</b>
  <%= type %>
</p>

<p>
  <b>X:</b>
  <%= x %>
</p>

<p>
  <b>Y:</b>
  <%= y %>
</p>

<p>
  <b>Z:</b>
  <%= z %>
</p>


<a href="#/index">Back</a>